<style type="text/css">
	.seller .ald-hd {position: relative;height: 15px;margin-top: 1px;overflow: hidden;}
	.seller .ald-hd s {position: absolute;top: 6px;left: 0px;width: 180px;height: 0;border-top: 1px #c9c9c9 dotted;text-decoration: none;}
	.seller .ald-hd span {position: absolute;color: #999;text-align: center;width: 6em;top: 0;left: 50%;margin-left: -3em;background-color: #fff;}
	.seller .icon-arrow-down{font-size: 28px;padding-right: 40px;}
	.seller .icon-arrow-up{font-size: 28px;}
</style>
<ul class="seller" style="border-right:none;border-top:none;border-bottom:none;margin-top:0;">
	<li>
	  <div class="btn-wrap">
      <div class="ald-hd">
      	<s></s>
      	<span>看了又看</span>
      </div>
      <img src="http://huanledui.cn/images/40/2a/92/88ae4f3ff8a3c521432cb0b60be1dd934297f65c.jpg_t.jpg" style="width:150px;height:150px;padding-top:7px;">
      <span>330积分</span>
      <img src="http://huanledui.cn/images/40/2a/92/88ae4f3ff8a3c521432cb0b60be1dd934297f65c.jpg_t.jpg" style="width:150px;height:150px;">
      <span>330积分</span>
      <img src="http://huanledui.cn/images/40/2a/92/88ae4f3ff8a3c521432cb0b60be1dd934297f65c.jpg_t.jpg" style="width:150px;height:150px;">
      <span>330积分</span>
      <br/>
      <span class="icon icon-arrow-down"></span>
      <span class="icon icon-arrow-up"></span>
    </div>
  </li>
</ul>