<form class="tableform" method='post' action='?app=sysagent&ctl=admin_agent&act=docancel' id="doenter-form">
<input type='hidden' name='agent_id' value='<{$agent_id}>'>
<input type='hidden' name='enterapply_id' value='<{$agent.enterapply_id}>'>
<input type='hidden' name='apply_status' value='<{$agent.apply_status}>'>
<input type='hidden' name='status' value='<{$agent.status}>'>
<div class="division">
<table width="100%">
  <tr>
    <th><{t}>代理商账号：<{/t}></th>
    <td><{$agent.username}></td>
    <th><{t}>申请日期：<{/t}></th>
    <td><{$agent.regtime|cdate:'SDATE_STIME'}></td>
      </tr>
    <tr>
        <th><{t}>停用原因：<{/t}></th>
        <td colspan="3"><textarea name="reason"  cols="20" style="width:82%" rows="10"></textarea></td>
    </tr>
    </table>
</form>

<{area inject='.mainFoot'}>
<div class="table-action">
	<{button label=$___b2c="提交"|t:'b2c' id="doenter-form-submit" class="agent-action" type="button"}>
</div>
<{/area}>

<script>

$('doenter-form-submit').addEvent('click',function(){
    $('doenter-form').fireEvent('submit',{stop:$empty})
});
</script>