<div class="tabs-wrap">
  <ul>
    <li class="tab current"><span><{t}>基本配置<{/t}></span></li>
  </ul>
</div>
  <form method="post" action="?app=sysclearing&ctl=admin_rule&act=saveSet" id="whitelist">
    <div style="text-align:right;padding:3px 30px"></div>
    <table class="tableform" style="width:99%;">
    <tbody>
        <tr>
            <th><{t}>积分结算比率：<{/t}></th>
            <td>
                <{input type="text" name='point_ratio' value=$point_ratio size="20"}>
                <label class="help"><span class="notice-inline"> 默认1积分 = 0.1元</span></label>
            </td>
        </tr>
       
    </tbody>
  </table>
  <div class="table-action">
    <{button type="submit"  label=$___desktop="保存"|t:'site'}>
  </div>
</form>
<!--
<script type="text/javascript">
function check_all(o) {
  o.getParent().getNext('span').getElements('input[type=checkbox]').set('checked', o.checked);
}
</script>
-->
